.ideaCard aside {
  display: none;
}

.ideaCard h4 {
  margin-bottom: 0.75rem;
}

.ideaCard p {
  margin-bottom: 0.5rem;
}

.ideaCardTag {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.ideaCard footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBubble {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  font-size: 0.8125rem;
}

/* TODO: This might improve it I used css grid instead of flex */

@media (min-width: 768px) {
  .ideaCard {
    display: flex;
    column-gap: 2.5rem;
    padding: 1.75rem 2rem;
  }
  .ideaCard > aside {
    display: flex;
    align-items: center;
    max-width: 2.5rem;
  }
  .ideaCard > div > aside {
    display: flex;
    align-items: flex-start;
    max-width: 2.5rem;
  }
  .ideaCard > div {
    flex: 1;
    display: flex;
    column-gap: 2.5rem;
  }
  .ideaCardTag {
    margin-bottom: 0;
  }
  .ideaCard footer > label {
    display: none;
  }
  .ideaCard footer {
    display: none;
  }
  .ideaCard h4 {
    margin-bottom: 0.25rem;
  }
  .ideaCard p {
    margin-bottom: 0.75rem;
  }
  .commentBubble {
    font-size: 1rem;
  }
}
